body {
    background:#3B3A36;
    font-family: sans-serif;
}

a, p, ul, li, span {
    color:#3B3A36;
}

img {
    width:100%;
}

h1 {
    background:#E9ECE5;
    color:#B3C2BF;
    padding:5px 20px;
    margin:0px;
}

h2 {
    color:#3B3A36;
}

h2 span.background {
    display:block;
    background:#3B3A36;
    color:#E9ECE5;
    padding:4px 4px 0px;
}

h3 {
    border-bottom:solid 2px #3B3A36;
}

h4 {
    padding-top:10px;
}

#footer-main {
    padding:50px;
}

#main-menu {
    background:#B3C2BF;
    display:inline-block;
    width:100%;
    text-align:center;
    padding:15px 0px;
}

#main-menu li {
    display:inline-block;
    text-decoration:none;
    padding:0px;
}

#main-menu li a {
    color:#AAA;
    background:#EEE;
    padding:5px 15px;
}

#main-menu li a.active {
    border:solid 5px #555;
}

#main-menu li:first-child a {
    margin-left:10px;
}

#main-menu li:first-child a.active {
    margin-left:0px;
}

.inner-wrapper {
    background:#E9ECE5;
    padding:15px;
}


/* FADE IN */
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-in:hover {
    animation-name: fade-in;
    animation-duration: 3s;
}

/* FADE IN WITH DELAY */
@keyframes fade-in-delay {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-in-delay:hover {
    animation-name: fade-in-delay;
    animation-duration: 3s;
    animation-delay: 1s;
}

/* FADE IN EASE-IN */
@keyframes fade-in-ease-in {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-in-ease-in:hover {
    animation-name: fade-in-ease-in;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

/* FADE IN EASE-OUT */
@keyframes fade-in-ease-out {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-in-ease-out:hover {
    animation-name: fade-in-ease-out;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

/* FADE IN EASE-IN */
@keyframes fade-in-ease {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-in-ease:hover {
    animation-name: fade-in-ease;
    animation-duration: 3s;
    animation-timing-function: ease;
}

/* FADE IN EASE-OUT */
@keyframes fade-in-ease-in-out {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-in-ease-in-out:hover {
    animation-name: fade-in-ease-in-out;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}